md-dialog.invitaton-modal
  form
    md-toolbar
      .md-toolbar-tools
        h2 Invitations
    md-dialog-content

      .user-search
        .ui.icon.input.fluid
          i.search.icon
          input(
            ng-model='InvitationModal.searchText',
            placeholder='Chercher un utilisateur ...',
            type='text'
          )
        //-.input.input-with-icon(style='width: 100%')
          input(
            ng-model='InvitationModal.searchText',
            placeholder='Chercher un utilisateur'
          )
          i.input-icon.fa.fa-search.fa-2

        md-list
          //- | uninvited:Invitation.ngModel
          md-list-item.secondary-button-padding.md-with-secondary.md-clickable(
            ng-repeat='user in InvitationModal.users | filter:InvitationModal.searchText')
            p {{ user | displayName }}
            button.ui.button(
              ng-click='InvitationModal.invite(user)',
              ng-class="{ 'loading': InvitationModal.inviting[user._id], 'disabled': InvitationModal.isInvited(user._id) || InvitationModal.invited[user._id] }"
            ) {{ InvitationModal.isInvited(user._id) || InvitationModal.invited[user._id] ? 'Invité' : 'inviter' }}
          md-divider

          //-{{ Invitation.ngModel | json }}
          //-a(ng-click='InvitationModal.getFBFriends()') get FB friends
          //-pre {{ Invitation.friends | json}}

    .md-actions(layout='row')
      span(flex='')
      button.ui.button.primary(ng-click='InvitationModal.close()') OK
