.home-wrapper
  .homepage-layer
    ul.md-slideshow
      li
        span Img 2
      li
        span Img 3
      li
        span Img 4

    .container
      h1 Créez et trouvez des évenements en toute simplicité !
      //- h2

      form.homepage-search-box
        .grouped-form
          .input#location.input-with-icon.item
            input(
              placeholder='Adresse de localisation',
              type='text',
              name='location',
              autocomplete='off',
              g-places-autocomplete,
              ng-model='Home.myLocation["address"]'
            )
            button.input-icon.fa.fa-lg(
              ng-click='Home.setMyLocation()',
              title='Utiliser ma position actuelle',
              ng-class="Home.gettingGeoloc ? ['fa-spinner', 'fa-spin'] : 'fa-location-arrow'"
            )
          button.item.button.button-primary(ng-click='Home.search()') Rechercher



  .homepage-content
    .container

      section

        h2 Villes

        .event-locations.grid-pictures

          article.grid-picture(style="background-image:url('https://img0.mxstatic.com/wallpapers/bbdd39d1d45ba86ce5406727919b11ab_large.jpeg')")
            h3 Paris

          article.grid-picture(style="background-image:url('https://www.justaletter.com/wp-content/uploads/2015/06/vue-lyon-eglise-saint-georges-basilique-fourviere-matin.jpg')")
            h3 Lyon

          article.grid-picture(style="background-image:url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Seilbahn-Grenoble.JPG/220px-Seilbahn-Grenoble.JPG')")
            h3 Grenoble

          article.grid-picture(style="background-image:url('https://lh6.googleusercontent.com/-osfKGwyNlrg/VZZH5UZNg2I/AAAAAAAAALU/bFjCmIq0drU/w506-h750/Bordeaux%2BM%25C3%25A9tropole.jpg')")
            h3 Bordeaux

          article.grid-picture(style="background-image:url('https://img0.mxstatic.com/wallpapers/bbdd39d1d45ba86ce5406727919b11ab_large.jpeg')")
            h3 Paris

      section

        h2 Tags

        .event-categories.grid-pictures

          article.grid-picture(ng-repeat='category in Home.categories | orderBy:"-events"')
            h3 {{ category.symbol + category.label }} ({{ category.events.length }})
