.home-wrapper
  .homepage-layer
    .container
      h1 Créez et retrouvez des évenements en toute simplicité !
      //- h2

      form.homepage-search-box
        .grouped-form
          .input#location.input-with-icon.item
            input(
              placeholder='Adresse de localisation',
              type='text',
              name='location',
              autocomplete='off',
              g-places-autocomplete,
              ng-model='Home.myLocation["address"]'
            )
            button.input-icon.fa.fa-lg(
              ng-click='Home.setMyLocation()',
              title='Utiliser ma position actuelle',
              ng-class="Home.gettingGeoloc ? ['fa-spinner', 'fa-spin'] : 'fa-location-arrow'"
            )
          button.button.button-primary(ng-click='Home.search()') Rechercher


  .container

    .event-locations

      .event-location(style="background-image:url('http://be.france.fr/sites/default/files/pariscphovoir.jpg')")
        h2 Paris

      .event-location(style="background-image:url('http://www.justaletter.com/wp-content/uploads/2015/06/vue-lyon-eglise-saint-georges-basilique-fourviere-matin.jpg')")
        h2 Lyon

      .event-location(style="background-image:url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Seilbahn-Grenoble.JPG/220px-Seilbahn-Grenoble.JPG')")
        h2 Grenoble

      .event-location(style="background-image:url('https://lh6.googleusercontent.com/-osfKGwyNlrg/VZZH5UZNg2I/AAAAAAAAALU/bFjCmIq0drU/w506-h750/Bordeaux%2BM%25C3%25A9tropole.jpg')")
        h2 Bordeaux

      .event-location(style="background-image:url('http://be.france.fr/sites/default/files/pariscphovoir.jpg')")
        h2 Paris
