.home-wrapper
  .homepage-layer
    ul.md-slideshow
      li
        span Img 2
      li
        span Img 3
      li
        span Img 4

    .container
      h1 {{ 'HOME.SLOGAN' | translate }}
      //- h2

      form.homepage-search-box
        .grouped-form
          .input#location.input-with-icon.item
            input(
              placeholder='Adresse de localisation',
              type='text',
              name='location',
              autocomplete='off',
              g-places-autocomplete,
              ng-model='Home.myLocation["address"]'
            )
            button.input-icon.fa.fa-lg(
              ng-click='Home.setMyLocation()',
              title='Utiliser ma position actuelle',
              ng-class="Home.gettingGeoloc ? ['fa-spinner', 'fa-spin'] : 'fa-location-arrow'"
            )
          //button.item.button.button-primary(ng-click='Home.search()') Rechercher
          button.big.ui.green.button(ng-click='Home.search()') Rechercher


  .homepage-content
    .container

      section

        h2 Villes

        .event-cities.grid-pictures

          article.grid-picture(
            ng-repeat='city in Home.cities | orderBy:"-events"',
            style="background-image:url({{ city.image.url || city.image.path }})",
            ui-sref="app.events({ latlng: city.center.lat +','+ city.center.lng })"
          )
            h3 {{ city.label }}


      section

        h2 Catégories

        .event-categories.grid-pictures

          article.grid-picture(
            ng-repeat='category in Home.categories | orderBy:"-events"',
            style="background-image:url({{ category.image.url || category.image.path }})",
            ui-sref='app.events({category: category.slug})'
          )
            h3 {{ category.symbol + category.label }} ({{ category.events.length || 0 }})
