form.ui.form.form-inline.search-form.flex-column
  .search-input-wrapper
    .category.select
      select.ui.dropdown(
        name='category',
        ng-options='category._id as category.label for category in EventsList.categories | orderBy:"label"',
        ng-model='$parent.App.filteredCategory',
        ng-init='EventsList.initDropdown()'
      )
        option(value='', ng-hide='EventsList.newEvent.category') Tous
    input#search(type="text", ng-model="query", placeholder="Rechercher...")
    .result-length
      ng-pluralize(
        count='$parent.App.filteredEvents.length',
        when="{'0': 'aucun résultat', '1': '1 résultat', 'other': '{} résultats'}"
      )
    .active-filters(
      ng-click='showFilters = !showFilters',
      ng-init='showFilters = false',
      ng-attr-title="{{ showFilters ? 'Masquer Filtres' : 'Afficher Filtres' }}"
    )
      i.icon.ion-ios-settings(ng-class="{'active': showFilters}")
  .filters(ng-show='showFilters')
    //- TIME FILTER
    .range-filter.flex-wrap
      .range-label.flex-auto(
        ng-click='EventsList.timeFilter.infinite=false;EventsList.timeFilter.options.disabled=!EventsList.timeFilter.options.disabled',
        ng-class="{'disabled': EventsList.timeFilter.options.disabled}"
      ) Quand ?
      .range-selector.flex-auto(ng-class="{'disabled': EventsList.timeFilter.options.disabled}")
        rzslider(
          rz-slider-options='EventsList.timeFilter.options'
          rz-slider-high='EventsList.timeFilter.max',
          rz-slider-model='EventsList.timeFilter.min'
        )
      .editable.range-value(ng-show='EventsList.timeFilter.options.disabled') peu importe quand ...
      .editable.range-value(ng-hide='EventsList.timeFilter.options.disabled')
        | de
        input.flex-auto(type='text', name='timeFiltertMin', ng-model='EventsList.timeFilter.min')
        | à
        input.flex-auto(type='text', name='timeFilterMax', ng-model='EventsList.timeFilter.max')
        ng-pluralize(
          count='EventsList.timeFilter.max',
          when="{'0': 'jour', '1': 'jour', 'other': 'jours'}")

    //- DISTANCE FILTER
    .range-filter.distance-range
      .range-label.flex-auto(
        ng-click='EventsList.distanceFilter.inifinite=false;EventsList.distanceFilter.options.disabled=!EventsList.distanceFilter.options.disabled',
        ng-class="{'disabled': EventsList.distanceFilter.options.disabled}"
      ) Ou ?
      .range-selector.flex-auto(ng-class="{'disabled': EventsList.distanceFilter.options.disabled}")
        rzslider(
          rz-slider-options='EventsList.distanceFilter.options',
          rz-slider-model='EventsList.distanceFilter.max'
        )
      .editable.range-value(ng-show='EventsList.distanceFilter.options.disabled') peu importe la distance ...
      .editable.range-value(ng-hide='EventsList.distanceFilter.options.disabled')
        | à maximum
        input.flex-auto(name='distanceSort', type='text', ng-model='EventsList.distanceFilter.max')
        ng-pluralize(
          count='EventsList.distanceFilter.max',
          when="{'0': 'kilomètre', '1': 'kilomètre', 'other': 'kilomètres'}")
    //- .sorting
    //-   label(for="sort-order") Trier par ordre
    //-   select(ng-model="EventsList.orderProperty", name='sort-order')
    //-     option(value="1") Croissant
    //-     option(value="-1") Décroissant
.events-list-wrapper
  ul.events-list
    li.flex-column(
      ng-repeat="event in $parent.App.filteredEvents = ($parent.App.events | filter:query | distance:EventsList.distanceFilter:EventsList.mapSvc.myLocation.position | isVisibleEvent | time:EventsList.timeFilter)",
      ng-class="{'overflown': EventsList.mapSvc.openedWindow == event._id}",
      ng-mouseenter='EventsList.mouseenterEvent(event._id)',
      ng-mouseleave='EventsList.mouseleaveEvent()',
      id='event-{{event._id}}'
    )
      .content-wrapper.flex
        .event-pic-overlay.flex-auto(
          ng-style="$parent.$parent.App.getImage(event.cover)"
        )
          .round(
            title='{{ EventsList.creator(event) | displayName }}',
            ui-sref='app.profile({userId: event.owner})'
          )
            avatar(userId='event.owner')
        .stickers
          .sticker Gratuit
          .sticker(ng-class='event.public ? "public" : "private"', ng-if="!event.public") Privé

        //-a.delete(ng-click="EventsList.remove(event._id)", ng-show="$root.currentUser && $root.currentUser._id == event.owner") &#215;
        .content.flex-auto.selectable
          .title.flex
            h2
              a(ui-sref="app.event({eventId: event._id, eventSlug: event.url})") {{ event.name }}
          .date(ng-if='event.beginDate')
            i.icon.ion-ios-calendar-outline
            span(ng-if='event.beginDate')  {{ event.beginDate | date:'dd/MM/yyyy' }}
            span(ng-if='event.beginTime')  à {{ event.beginTime | date:'H:mm' }}
          a.tag(href='#') {{ event.category.label }}
          p.description(
            term-click='EventsList.tagTermClick($event)'
            hashtagify
          ) {{ event.description }}
          //- div(ng-if="event.public")
          //-   | Everyone is invited
          div(ng-hide="$root.currentUser")
            i Enregistrez-vous pour vous inscrire à cet événement.

          .presence(
            ng-if='$root.currentUser && (EventsList.mapSvc.openedWindow == event._id || EventsList.overflownEvent == event._id || EventsList.isPresent(event))'
          )
            .presence-btns.ui.basic.buttons
              button.ui.button(type='button', ng-click="EventsList.rsvp(event._id, 'yes')", ng-class="{'active': EventsList.myPresence(event, 'yes')}") Je viens !
              button.ui.button(type='button', ng-click="EventsList.rsvp(event._id, 'maybe')", ng-class="{'active': EventsList.myPresence(event, 'maybe')}") Peut-être
              button.ui.button(type='button', ng-click="EventsList.rsvp(event._id, 'no')", ng-class="{'active': EventsList.myPresence(event, 'no')}") Non désolé