h2 Discussions

button.add-post-btn.ui.blue.small.button(
  ng-click='EventPosts.showAddPost = true',
  ng-show='!EventPosts.showAddPost'
) Ajouter une discussion

section.posts
  article.ui.segment.post(ng-repeat='post in EventPosts.posts')
    .content
      a.author {{ EventPosts.creator(post) | displayName }}
      .metadata
        span.date {{ post.createdAt | amCalendar }}
      h3 {{ post.title }}
      .text {{ post.body }}
      footer
        .ui.divider
        button.tiny.labeled.icon.ui.button(
          ng-click='EventPosts.displayAddComment(post)',
          ng-show='!EventPosts.showAddComment[post._id]'
        )
          i.comment.icon
          | Commentaires (0)
        .ui.comments(ng-show='EventPosts.showAddComment[post._id]')
          .comment
            .avatar
              img(src='http://semantic-ui.com/images/avatar/small/matt.jpg')
            .content
              a.author Matt
              .metadata
                span.date Il a 1 min
              .text tset commentaire
          form.ui.form(ng-show='EventPosts.showAddComment[post._id]')
            .field
              textarea(rows="2")
            button.ui.button(ng-click='EventPosts.showAddComment[post._id] = false') Annuler
            button.ui.blue.button Ajouter commentaire

      //-.actions(ng-if='$root.currentUser && EventPosts.eventDetails.emailIsVerified()')
        a.reply Commenter
    .votes
      .vote.up(
        ng-click='EventPosts.voteUp(post._id)',
        ng-class="{'current': EventPosts.isCurrentUserVote(post.upvoters) }"
      )
        i.up.chevron.icon
      .score {{ post.upvoters.length - post.downvoters.length || 0 }}
      .vote.down(
        ng-click='EventPosts.voteDown(post._id)',
        ng-class="{'current': EventPosts.isCurrentUserVote(post.downvoters) }"
      )
        i.down.chevron.icon

  form.ui.reply.form.add-post(
    ng-if='$root.currentUser && EventPosts.isOwnerOrIsEventGuest()',
    ng-show='EventPosts.showAddPost',
    ng-submit='EventPosts.addPost()'
  )
    .ui.divider
    .title
      input(
        ng-model='EventPosts.newPost.title',
        placeholder='Titre',
        required
      )
    .field
      textarea(
        ng-model='EventPosts.newPost.body',
        placeholder='Contenu...',
        style='height: 96px;',
        required
      )
    .buttons
      button.ui.button(ng-click='EventPosts.showAddPost = false') Annuler
      button.ui.blue.labeled.submit.icon.button(type='submit')
        i.icon.edit
        |  Ajouter discussion