.mainPic(ngf-drop, ngf-select, 
  ngf-change="vm.addImage($files)",
  ngf-multiple="false",
  ngf-allow-dir="false",
  ngf-accept="'image/*'"
)
  img(ng-src="{{ vm.url('cropped') }}")
form
  label Imagemainpic
  a(href="", ng-click="vm.openAddImageModal()") Ajouter Image
  button(ng-click='vm.images.remove(image)') X

  p {{ vm.event | json}}

  .form-group
    label Nom
    input.form-control(
      type="text",
      ng-model="vm.event.name",
      ng-disabled="vm.event.owner != $root.currentUser._id"
    )
  .form-group
    label  Description
    input.form-control(
      type="text",
      ng-model="vm.event.description",
      ng-disabled="vm.event.owner != $root.currentUser._id"
    )
  .form-group
    label Catégorie
    input.form-control(
      type="text",
      ng-model="vm.event.category",
      ng-disabled="vm.event.owner != $root.currentUser._id"
    )
  .form-group
    label Is public
    input(
      type="checkbox",
      ng-model="vm.event.public",
      ng-disabled="vm.event.owner != $root.currentUser._id"
    )

  ul(ng-show="vm.canInvite()")
    | Users to invite:
    li(ng-repeat="user in vm.users | uninvited:vm.event")
      div {{ user | displayName }}
      button(ng-click="vm.invite(user)") Invite
    li(ng-if="(vm.users | uninvited:vm.event).length <= 0")
      | Everyone are already invited.
