.alert.alert-info(ng-hide="$root.currentUser || $root.loggingIn")
  | Connectez-vous pour créer un évenement

header(ng-show="$root.currentUser || $root.loggingIn")
  .cover-manager(ng-if='eventDetails.accessRight == "right"')
    add-picture.edit-cover(picture='eventDetails.cover')
      i.icon.ion-image
      span(ng-hide='eventDetails.cover')  Ajouter une couverture
      span(ng-show='eventDetails.cover')  Modifier la couverture
    a.delete-cover(href='#', ng-show='eventDetails.cover', ng-click="eventDetails.deleteCover()")
      i.icon.ion-trash-a
      |  Supprimer la couverture
  .cover(ng-style="$parent.$parent.App.getImage(event.cover)", ng-show='event.cover && !eventDetails.cover')
  img.cover(ng-src="{{eventDetails.cover}}", ng-show='eventDetails.cover')
  .over-cover
    .title
      h1(ng-if='eventDetails.accessRight == "read"') {{ eventDetails.newEvent.name }}
      h1.editable.editable-text(
        ng-click='eventDetails.editName=true',
        ng-hide='eventDetails.editName',
        ng-if='eventDetails.accessRight == "right"'
      ) {{ eventDetails.newEvent.name || "Nom de l'évenement" }}
      .input.input-with-icon(
        ng-if='eventDetails.accessRight == "right" && eventDetails.editName',
        ng-show='eventDetails.editName'
      )
        input(
          type="text",
          ng-model="eventDetails.newEvent.name",
          placeholder='Nom de l\'évenement'
        )
        button.input-icon.fa.fa-check.fa-lg(ng-click='eventDetails.editName=false')
      =' '
    .geoloc(position='eventDetails.newEvent.position')
      i.icon.ion-android-locate
      span.prefix Emplacement :
      geoloc(location='eventDetails.newEvent.position')
        span(ng-show='eventDetails.newEvent.position.address.display')
          | {{ eventDetails.newEvent.position.address.display }}
        span(ng-show='!eventDetails.newEvent.position.address.display && eventDetails.newEvent.position.lat')
          | Lat : {{ eventDetails.newEvent.position.lat | number }} - Lng : {{ eventDetails.newEvent.position.lng | number }}
        span(ng-hide='eventDetails.newEvent.position.lat || eventDetails.newEvent.position.address.display') Choisir l'emplacement
    .date
      i.icon.ion-ios-calendar-outline
      span.prefix  Début
      span.between :
      input#beginDate(
        name='beginDate',
        style='display: none'
      )
      date-range.date-field.editable#edit-beginDate(
        ng-model='eventDetails.newEvent.beginDate',
        date-before='eventDetails.newEvent.endDate'
      )
        | {{ eventDetails.newEvent.beginDate ? ( eventDetails.newEvent.beginDate | date:'dd/MM/yyyy' ) : 'Date de début' }}
      span.between à
      time-picker(ng-model='eventDetails.newEvent.beginTime')
        | {{ eventDetails.newEvent.beginTime ? ( eventDetails.newEvent.beginTime | date:'H:mm' ) : 'heure de début' }}

    .date
      i.icon.ion-ios-calendar-outline
      span.prefix Fin
      span.between :
      input#endDate(
        name='endDate',
        style="display: none"
      )
      date-range.date-field.editable#edit-endDate(
        ng-model='eventDetails.newEvent.endDate',
        date-after='eventDetails.newEvent.beginDate'
      )  {{ eventDetails.newEvent.endDate ? ( eventDetails.newEvent.endDate | date:'dd/MM/yyyy' ) : 'Date de fin' }}
      span.between à
      time-picker(ng-model='eventDetails.newEvent.endTime')  {{ eventDetails.newEvent.endTime ? ( eventDetails.newEvent.endTime | date:'H:mm' ) : 'heure de fin' }}

main.p2(ng-show="$root.currentUser || $root.loggingIn")

  .message-bar.background-error(ng-show='eventDetails.errorMsg')
    .title Oups !
    .alert-content
     p Les informations pour créer l'évenement sont incorrects :
     ul
      li {{ eventDetails.errorMsg }}

  section(ng-if='eventDetails.accessRight == "right"')
    //- label.block.col-12(for="public") Public
      input#public(type="checkbox", ng-model="eventDetails.newEvent.public")

    .checkbox
      input#public(name='public', ng-model='eventDetails.newEvent["public"]', type='checkbox')
      label(for='public') Publique
  //- Catégorie
  section#category
    h3
      i.icon.ion-ios-pricetag-outline
      |  Catégorie
    article
      .select
        select(
          name='category',
          ng-options='category._id as category.label for category in eventDetails.categories',
          ng-model='eventDetails.newEvent.category'
        )
          option(value='', ng-hide='eventDetails.newEvent.category') Choisir une catégorie
        i.fa.fa-angle-down.fa-2
  //- Description
  section(ng-hide='!eventDetails.newEvent.description && eventDetails.accessRight == "read"')
    h3
      i.icon.ion-ios-compose-outline
      |  Description
    article
      textarea#description.block.col-12.field(
        ng-model="eventDetails.newEvent.description",
        placeholder='Description de l\'évenement',
        ng-if='eventDetails.accessRight == "right"',
        mentio,
        mentio-typed-text="typedTerm",
        mentio-trigger-char="'#'",
        mentio-items='eventDetails.tags | filter:label:typedTerm'
      )
      p(ng-if='eventDetails.accessRight == "read"') {{ eventDetails.newEvent.description }}

  invitation(ng-model='eventDetails.newEvent', ng-if='eventDetails.accessRight == "right"') Lancer des invitations

  button.btn.btn-primary(ng-click="eventDetails.save()", ng-if='eventDetails.accessRight == "right"') {{ eventDetails.validFormBtn }}

  pre categories: {{ eventDetails.categories | json }}
  pre tags: {{ eventDetails.tags | json }}
