.alert.alert-info(ng-if="!$root.currentUser && eventDetails.method == 'create'") Connectez-vous pour créer un événement

.unverified-email(ng-if='$root.currentUser && !eventDetails.emailIsVerified() && eventDetails.method == "create"')
  h1 Ajout d'événement
  i.fa.fa-paper-plane-o.fa-4
  h2 Merci de vérifier votre adresse email
  p Veuillez cliquer sur le lien de confirmation afin de profiter pleinement de Mapdiz.com.

header(ng-if="($root.currentUser && eventDetails.emailIsVerified() && eventDetails.method == 'create') || eventDetails.method == 'update'")
  .cover-manager(ng-if='eventDetails.editing')
    add-picture.edit-cover(picture='eventDetails.cover')
      i.icon.ion-image
      span(ng-hide='eventDetails.cover')  Ajouter une couverture
      span(ng-show='eventDetails.cover')  Modifier la couverture
    a.delete-cover(href='#', ng-show='eventDetails.cover', ng-click="eventDetails.deleteCover()")
      i.icon.ion-trash-a
      |  Supprimer la couverture
  img.cover(ng-src="{{eventDetails.cover}}", ng-show='eventDetails.cover', width="800" height="200")
  .over-cover.ui.form
    .title
      h1(ng-hide='eventDetails.editing') {{ eventDetails.newEvent.name }}
      h1.editable.editable-text(
        ng-click='eventDetails.editName=true',
        ng-show='eventDetails.editing && !eventDetails.editName'
      ) {{ eventDetails.newEvent.name || "Nom de l'évenement" }}

      .ui.action.input(
        ng-if='eventDetails.editing && eventDetails.editName',
        ng-show='eventDetails.editName'
      )
        input(
          type="text",
          ng-model="eventDetails.newEvent.name",
          placeholder='Nom de l\'événement'
        )
        button.ui.icon.green.button(ng-click='eventDetails.editName=false')
          i.check.icon

    .geoloc(position='eventDetails.newEvent.position')
      i.icon.ion-android-locate
      span.prefix Emplacement :
      geoloc(location='eventDetails.newEvent.position', edition='eventDetails.editing')
        span(ng-show='eventDetails.newEvent.position.address.display')
          | {{ eventDetails.newEvent.position.address.display }}
        span(ng-show='!eventDetails.newEvent.position.address.display && eventDetails.newEvent.position.lat')
          | Lat : {{ eventDetails.newEvent.position.lat | number }} - Lng : {{ eventDetails.newEvent.position.lng | number }}
        span(ng-hide='eventDetails.newEvent.position.lat || eventDetails.newEvent.position.address.display') Choisir l'emplacement
    .date
      i.icon.ion-ios-calendar-outline
      span.prefix  Début
      span.between :
      input#beginDate(
        name='beginDate',
        style='display: none'
      )
      date-range.date-field.editable#edit-beginDate(
        ng-model='eventDetails.newEvent.beginDate',
        date-before='eventDetails.newEvent.endDate',
        edition='eventDetails.editing'
      )
        | {{ eventDetails.newEvent.beginDate ? ( eventDetails.newEvent.beginDate | date:'dd/MM/yyyy' ) : 'Date de début' }}
      span.between à
      time-picker(
        ng-model='eventDetails.newEvent.beginTime',
        edition='eventDetails.editing'
      )
        | {{ eventDetails.newEvent.beginTime ? ( eventDetails.newEvent.beginTime | date:'H:mm' ) : 'heure de début' }}

    .date
      i.icon.ion-ios-calendar-outline
      span.prefix Fin
      span.between :
      input#endDate(
        name='endDate',
        style="display: none"
      )
      date-range.date-field.editable#edit-endDate(
        ng-model='eventDetails.newEvent.endDate',
        date-after='eventDetails.newEvent.beginDate',
        edition='eventDetails.editing'
      )  {{ eventDetails.newEvent.endDate ? ( eventDetails.newEvent.endDate | date:'dd/MM/yyyy' ) : 'Date de fin' }}
      span.between à
      time-picker(
        ng-model='eventDetails.newEvent.endTime',
        edition='eventDetails.editing'
      )  {{ eventDetails.newEvent.endTime ? ( eventDetails.newEvent.endTime | date:'H:mm' ) : 'heure de fin' }}

.presence(ng-if="($root.currentUser && eventDetails.emailIsVerified() && eventDetails.method == 'create' && !eventDetails.editing) || eventDetails.method == 'update'")
  .rsvps(ng-show='eventDetails.newEvent.rsvps.length > 0')
    .rsvps-sum
      .rsvps-amount.ng-binding {{ (eventDetails.newEvent.rsvps | filter:{rsvp:"yes"}).length }}
      .rsvps-title Participants
    .rsvps-sum
      .rsvps-amount.ng-binding {{ (eventDetails.newEvent.rsvps | filter:{rsvp:"maybe"}).length }}
      .rsvps-title ne savent pas encore
    .rsvps-sum
      .rsvps-amount.ng-binding {{ (eventDetails.newEvent.rsvps | filter:{rsvp:"no"}).length }}
      .rsvps-title ont déclinés

  .presence-btns.ui.basic.buttons(ng-if="$root.currentUser || $root.loggingIn")
    button.ui.button(
      type='button',
      ng-click="eventDetails.rsvp(eventDetails.newEvent._id, 'yes')",
      ng-class="{'active': eventDetails.myPresence(eventDetails.newEvent, 'yes')}"
    ) Je viens !
    button.ui.button(
      type='button',
      ng-click="eventDetails.rsvp(eventDetails.newEvent._id, 'maybe')",
      ng-class="{'active': eventDetails.myPresence(eventDetails.newEvent, 'maybe')}"
    ) Peut-être
    button.ui.button(
      type='button',
      ng-click="eventDetails.rsvp(eventDetails.newEvent._id, 'no')",
      ng-class="{'active': eventDetails.myPresence(eventDetails.newEvent, 'no')}"
    ) Non désolé


.event-menu.ui.inverted.segment(ng-if="($root.currentUser && eventDetails.emailIsVerified() && eventDetails.method == 'create' && !eventDetails.editing) || eventDetails.method == 'update'")
  .ui.inverted.secondary.pointing.menu
    a.item(ui-sref='app.event.infos', ui-sref-active='active')
      | Informations Générales
    invitation.item(ng-model='eventDetails.newEvent', ng-show='!eventDetails.editing')
      | Invitations / Participants
    a.item(ui-sref='app.event.posts', ui-sref-active='active')
      | Discussions
    //-a.item
      | Photos / Videos

main(ng-if="($root.currentUser && eventDetails.emailIsVerified() && eventDetails.method == 'create') || eventDetails.method == 'update'", ui-view='')