form.form-inline.search-form.flex-column
  .search-input-wrapper
    input#search(type="text", ng-model="query", placeholder="Rechercher...")
    .result-length
      ng-pluralize(
        count='$parent.App.filteredEvents.length',
        when="{'0': 'aucun résultat', '1': '1 résultat', 'other': '{} résultats'}"
      )
    .active-filters(ng-click='showFilters = !showFilters', ng-init='showFilters = false', ng-attr-title="{{ showFilters ? 'Masquer Filtres' : 'Afficher Filtres' }}")
      i.icon.ion-ios-settings(ng-class="{'active': showFilters}")
  .filters(ng-show='showFilters').flex-wrap
    //- TIME FILTER
    .range-filter.flex-wrap
      .range-label.flex-auto(
        ng-click='vm.timeFilter.infinite=false;vm.timeFilter.options.disabled=!vm.timeFilter.options.disabled',
        ng-class="{'disabled': vm.timeFilter.options.disabled}"
      ) Quand ?
      .range-selector.flex-auto(ng-class="{'disabled': vm.timeFilter.options.disabled}")
        rzslider(
          rz-slider-options='vm.timeFilter.options'
          rz-slider-high='vm.timeFilter.max',
          rz-slider-model='vm.timeFilter.min'
        )
      .editable.range-value(ng-show='vm.timeFilter.options.disabled') peu importe quand ...
      .editable.range-value(ng-hide='vm.timeFilter.options.disabled')
        | de
        input.flex-auto(type='text', name='timeFiltertMin', ng-model='vm.timeFilter.min')
        | à
        input.flex-auto(type='text', name='timeFilterMax', ng-model='vm.timeFilter.max')
        ng-pluralize(
          count='vm.timeFilter.max',
          when="{'0': 'jour', '1': 'jour', 'other': 'jours'}")

    //- DISTANCE FILTER
    .range-filter.distance-range.flex-wrap
      .range-label.flex-auto(
        ng-click='vm.distanceFilter.inifinite=false;vm.distanceFilter.options.disabled=!vm.distanceFilter.options.disabled',
        ng-class="{'disabled': vm.distanceFilter.options.disabled}"
      ) Ou ?
      .range-selector.flex-auto(ng-class="{'disabled': vm.distanceFilter.options.disabled}")
        rzslider(
          rz-slider-options='vm.distanceFilter.options',
          rz-slider-model='vm.distanceFilter.max'
        )
      .editable.range-value(ng-show='vm.distanceFilter.options.disabled') peu importe la distance ...
      .editable.range-value(ng-hide='vm.distanceFilter.options.disabled')
        | à maximum
        input.flex-auto(name='distanceSort', type='text', ng-model='vm.distanceFilter.max')
        ng-pluralize(
          count='vm.distanceFilter.max',
          when="{'0': 'kilomètre', '1': 'kilomètre', 'other': 'kilomètres'}")
    //- .sorting
    //-   label(for="sort-order") Trier par ordre
    //-   select(ng-model="vm.orderProperty", name='sort-order')
    //-     option(value="1") Croissant
    //-     option(value="-1") Décroissant
.events-list-wrapper
  ul.events-list
    li.flex-column(
      ng-repeat="event in $parent.App.filteredEvents = ($parent.App.allEvents | filter:query | distance:vm.distanceFilter:vm.mapSvc.myLocation.position | isVisibleEvent | time:vm.timeFilter)",
      ng-class="{'overflown': $root.openedWindow == event._id || vm.isOverflown(event._id)}",
      ng-mouseover='$root.openedWindow = event._id',
      ng-mouseleave='$root.openedWindow = false',
      id='event-{{event._id}}'
    )
      .content-wrapper.flex
        .event-pic-overlay.flex-auto(
          ui-sref="app.event({eventId: event._id, eventSlug: event.url})",
          ng-style="$parent.$parent.App.getImage(event.cover)"
        )
          avatar.avatar(user='vm.getUserById(event.owner)')
        .price Gratuit
        a.delete(ng-click="vm.remove(event._id)", ng-show="$root.currentUser && $root.currentUser._id == event.owner") &#215;
        .content.flex-auto.selectable
          .infos.flex-column
            .title.flex
              h2
                a(ui-sref="app.event({eventId: event._id, eventSlug: event.url})") {{event.name}}
              span.badge.public(ng-if="event.public") Public
              span.badge.private(ng-if="!event.public") Privé
            .date(ng-if='event.beginDate')
              i.icon.ion-ios-calendar-outline
              span(ng-if='event.beginDate')  {{ event.beginDate | date:'dd/MM/yyyy' }}
              span(ng-if='event.beginTime')  à {{ event.beginTime | date:'H:mm' }}
            p.description {{ event.description }}
            //- div(ng-if="event.public")
            //-   | Everyone is invited
            div(ng-hide="$root.currentUser")
              i Enregistrez-vous pour vous inscrire à cet évenement.
            //- div
            //-   strong Participations :
            //-   |  Oui - {{ (event.rsvps | filter:{rsvp:"yes"}).length }}
            //-   | Peut-être - {{ (event.rsvps | filter:{rsvp:"maybe"}).length }}
            //-   | Non - {{ (event.rsvps | filter:{rsvp:"no"}).length }}
            //-   div(ng-repeat="rsvp in event.rsvps | filter:{rsvp:'yes'}")
            //-     | {{ vm.getUserById(rsvp.user) | displayName }} - {{ rsvp.rsvp }}
            //-   div(ng-repeat="rsvp in event.rsvps | filter:{rsvp:'maybe'}")
            //-     | {{ vm.getUserById(rsvp.user) | displayName }} - {{ rsvp.rsvp }}
            //-   div(ng-repeat="rsvp in event.rsvps | filter:{rsvp:'no'}")
            //-     | {{ vm.getUserById(rsvp.user) | displayName }} - {{ rsvp.rsvp }}
            //- ul(ng-if="!event.public")
            //-   | Users who haven't responded ({{ outstandingInvitations(event).length }}):
            //-   li(ng-repeat="invitedUser in outstandingInvitations(event)")
            //-     | {{ invitedUser | displayName }}
            p.creator
              small Ajouté par {{ vm.creator(event) | displayName }}
              //- small(am-time-ago='event.added')
            .presence(ng-if='($root.openedWindow == event._id || vm.isOverflown(event._id)) && $root.currentUser')
              .presence-btns.inline-block.clearfix.m1
                button.left.btn.x-group-item.rounded-left(type='button', ng-click="vm.rsvp(event._id, 'yes')", ng-class="{'active': vm.myPresence(event, 'yes'), 'btn-outline ': !vm.myPresence(event, 'yes')}") Je viens !
                button.left.btn.x-group-item.not-rounded(type='button', ng-click="vm.rsvp(event._id, 'maybe')", ng-class="{'active': vm.myPresence(event, 'maybe'), 'btn-outline ': !vm.myPresence(event, 'maybe')}") Peut-être
                button.left.btn.x-group-item.rounded-right(type='button', ng-click="vm.rsvp(event._id, 'no')", ng-class="{'active': vm.myPresence(event, 'no'), 'btn-outline ': !vm.myPresence(event, 'no')}") Non désolé
