.login-menu(
  id='connect-btn',
  ng-cloak,
  ng-if="!vm.mode && $root.currentUser || !$root.currentUser"
)
  avatar(
    userid='vm.currentUser._id',
    ng-if="!vm.mode && vm.currentUser",
    ng-click='vm.togglePopup()'
  )
  .title(
    ng-if="$root.currentUser && !vm.mode",
    ng-click='vm.togglePopup()'
  ) {{ $root.currentUser | displayName }}
  .title(
    ng-if="!$root.currentUser && !vm.mode",
    ng-click='vm.togglePopup()'
  )
    .link Se connecter
  .title(
    ng-if="!$root.currentUser && vm.mode == 'register'",
    ng-click='vm.togglePopup()'
  )
    button.ui.button.positive S'inscrire


  #login-popup2.login-popup.absolute.border.rounded.ui.segment(
    ng-show='vm.showPopup',
    ng-if="!$root.currentUser",
    click-outside='vm.togglePopup()',
    outside-if-not='connect-btn, create-account'
  )

    .popup-content.login(ng-if='!vm.displayCreateAccount && !vm.unverifiedEmail')
      h2 Connectez-vous
      .or
        | Ou
        a(id='create-account', ng-click='vm.displayCreateAccount=true')  créez un compte
      form.ui.form(ng-submit='vm.loginWithPassword(vm.login, vm.password)')
        .field
          label E-mail / Identifiant
          input(type='text', ng-model='vm.login')
        .field 
          label(for='password') Mot de passe
          input#password(type='password', name='password', ng-model='vm.password')
        .ui.success.message(ng-show='vm.unverifiedEmailSend') E-mail de confirmation envoyé !
        .ui.error.message(ng-show='vm.errors') {{ vm.errors }}
        .login-actions
          button.ui.primary.button(type='submit') Se connecter
          button.ui.facebook.button(ng-click='vm.loginWithFacebook()') Connexion avec Facebook

    .popup-content.create-account(ng-if='vm.displayCreateAccount && !vm.unverifiedEmail')
      h2 Créez un compte
      .or
        | Ou
        a(ng-click='vm.displayCreateAccount = !vm.displayCreateAccount')  connectez-vous

      form.ui.form(ng-submit='vm.createAccount(vm.newAccount)')
        .field
          label Identifiant
          input(type='text', ng-model='vm.newAccount.username', name='username')
        .field
          label E-mail
          input(type='text', ng-model='vm.newAccount.email', name='email')
        .field
          label(for='password') Mot de passe
          input#password(type='password', name='newPassword', ng-model='vm.newAccount.password')

        .ui.error.message(ng-show='vm.errors') {{ vm.errors }}

        .login-actions
          button.ui.primary.button(type='submit') Créer votre compte
          button.ui.facebook.button(ng-click='vm.loginWithFacebook()') Inscription avec Facebook

  #login-popup1.login-popup.absolute.border.rounded.ui.segment(
    ng-show='vm.showPopup',
    ng-if="$root.currentUser || vm.unverifiedEmail",
    click-outside='vm.togglePopup()',
    outside-if-not='connect-btn, create-account'
  )
    .popup-content.unverified-email(ng-if='vm.unverifiedEmail')
      i.fa.fa-paper-plane-o.fa-4
      h2 Merci de vérifier votre adresse email
      p Veuillez cliquer sur le lien de confirmation afin de profiter pleinement de Mapdiz.com.

      .error-link(ng-if='!vm.unverifiedEmailSend')
        a(ng-click='vm.sendVerificationEmail(vm.login)') Ré-envoyer le mail de confirmation

      .ui.success.message(ng-show='vm.unverifiedEmailSend') E-mail de confirmation envoyé !
      .ui.error.message(ng-show='vm.errors') {{ vm.errors }}

      button.button.button-primary(ng-click='vm.unverifiedEmail = false') Continuer

    .user-menu.ui.vertical.fluid.menu(ng-show="vm.connectedDisplay == 'classic' && !vm.unverifiedEmail")
      a.item(ng-click="vm.goTo('app.profile')") Mon compte
      a.item(ng-click="vm.connectedDisplay='changePassword'") Changer mot de passe
      a.item(ng-click='vm.logout()') Se déconnecter

    .popup-content.changePassword.p2(ng-show="vm.connectedDisplay == 'changePassword'")
      h2 Changement mot de passe
      form.ui.form(ng-submit='vm.changePassword(vm.password, vm.newPassword)')
        .field
          label(for='password') Mot de passe
          input#password(type='password', name='password', ng-model='vm.password')
        .field
          label(for='password') Nouveau mot de passe
          input#password(type='password', name='password', ng-model='vm.newPassword')
        .ui.error.message(ng-show='vm.errors') {{ vm.errors }}
        .btns.btns-center
          button.ui.button.primary(type='submit') Changer
          button.ui.button(ng-click="vm.connectedDisplay='classic'") Annuler
