.login-menu(
  id='connect-btn',
  ng-cloak,
  ng-if="!vm.mode && $root.currentUser || !$root.currentUser"
)
  avatar(
    userid='vm.currentUser._id',
    ng-if="!vm.mode && vm.currentUser",
    ng-click='vm.togglePopup()'
  )
  .title(
    ng-if="$root.currentUser && !vm.mode",
    ng-click='vm.togglePopup()'
  ) {{ $root.currentUser | displayName }}
  .title(
    ng-if="!$root.currentUser && !vm.mode",
    ng-click='vm.togglePopup()'
  )
    .link Se connecter
  .title(
    ng-if="!$root.currentUser && vm.mode == 'register'",
    ng-click='vm.togglePopup()'
  )
    .link S'inscrire


  #login-popup2.login-popup.absolute.bg-white.border.rounded(
    ng-show='vm.showPopup',
    ng-if="!$root.currentUser",
    click-outside='vm.togglePopup()',
    outside-if-not='connect-btn, create-account'
  )

    .login.p2(ng-if='!vm.displayCreateAccount && !vm.unverifiedEmail')
      h2 Connectez-vous
      .or
        | Ou
        a(id='create-account', ng-click='vm.displayCreateAccount=true')  créez un compte
      form(ng-submit='vm.loginWithPassword(vm.login, vm.password)')
        label.label E-mail / Identifiant
        .input.full-width
          input(type='text', ng-model='vm.login')
        label.label(for='password') Mot de passe
        .input.full-width
          input#password(type='password', name='password', ng-model='vm.password')
        .info-message(ng-show='vm.unverifiedEmailSend') E-mail de confirmation envoyé !
        .error-message(ng-show='vm.errors') {{ vm.errors }}
        .login-actions
          button.button.button-primary(type='submit') Se connecter
          button.button.button-fb(ng-click='vm.loginWithFacebook()') Connexion avec Facebook

    .create-account.p2(ng-if='vm.displayCreateAccount && !vm.unverifiedEmail')
      h2 Créez un compte
      .or
        | Ou
        a(ng-click='vm.displayCreateAccount = !vm.displayCreateAccount')  connectez-vous

      form(ng-submit='vm.createAccount(vm.newAccount)')
        label.label Identifiant
        .input.full-width
          input.block(type='text', ng-model='vm.newAccount.username', name='username')
        label.label E-mail
        .input.full-width
          input(type='text', ng-model='vm.newAccount.email', name='email')
        label(for='password') Mot de passe
        .input.full-width
          input#password(type='password', name='newPassword', ng-model='vm.newAccount.password')
        .error-message(ng-show='vm.errors') {{ vm.errors }}

        .login-actions
          button.button.button-primary(type='submit') Créer votre compte
          button.button.button-fb(ng-click='vm.loginWithFacebook()') Inscription avec Facebook

  #login-popup1.login-popup.absolute.bg-white.border.rounded(
    ng-show='vm.showPopup',
    ng-if="$root.currentUser || vm.unverifiedEmail",
    click-outside='vm.togglePopup()',
    outside-if-not='connect-btn, create-account'
  )
    .unverified-email(ng-if='vm.unverifiedEmail')
      i.fa.fa-paper-plane-o.fa-4
      h2 Merci de vérifier votre adresse email
      p Veuillez cliquer sur le lien de confirmation afin de profiter pleinement de Mapdiz.com.

      .error-link(ng-if='!vm.unverifiedEmailSend')
        a(ng-click='vm.sendVerificationEmail(vm.login)') Ré-envoyer le mail de confirmation

      .info-message(ng-show='vm.unverifiedEmailSend') E-mail de confirmation envoyé !
      .error-message(ng-show='vm.errors') {{ vm.errors }}

      button.button.button-primary(ng-click='vm.unverifiedEmail = false') Continuer

    .classic(ng-show="vm.connectedDisplay == 'classic' && !vm.unverifiedEmail")
      .btn(ng-click="vm.goTo('app.profile')") Mon compte
      .btn(ng-click="vm.connectedDisplay='changePassword'") Changer mot de passe
      .btn(ng-click='vm.logout()') Se déconnecter
    .changePassword.p2(ng-show="vm.connectedDisplay == 'changePassword'")
      h2 Changement mot de passe
      form(ng-submit='vm.changePassword(vm.password, vm.newPassword)')
        label(for='password') Mot de passe
        input#password.block.col-12.field(type='password', name='password', ng-model='vm.password')
        label(for='password') Nouveau mot de passe
        input#password.block.col-12.field(type='password', name='password', ng-model='vm.newPassword')
        .error-message(ng-show='vm.errors') {{ vm.errors }}
        .btns.btns-center
          button.btn.btn-primary(type='submit') Changer
          button.btn.btn-primary.black.bg-darken-2(ng-click="vm.connectedDisplay='classic'") Annuler
