md-dialog.set-geoloc-modal
  md-toolbar
    .md-toolbar-tools
      h2 Emplacement
  md-dialog-content
    p Pour définir l'emplacement de votre évenement vous pouvez déplacez le marqueur (
      =' '
      i.icon.ion-location
      |  ) sur la carte ou utiliser une autre méthode ci-dessous :

    form.ui.form
      .ui.top.attached.tabular.menu
        a.item(ng-click='geolocChoiceType="address"', ng-class="{'active': geolocChoiceType == 'address'}") Adresse
        a.item(ng-click='geolocChoiceType="coordinates"', ng-class="{'active': geolocChoiceType == 'coordinates'}") Coordonnées
      .ui.bottom.attached.segment(ng-show='geolocChoiceType == "address"')
        .field
          label(for='address') Adresse
          input#address(
            type='text',
            autocomplete='off',
            g-places-autocomplete,
            ng-model='placesObj',
            ng-change='placeObjToLocation(placesObj)'
          )
      .ui.bottom.attached.segment(ng-show='geolocChoiceType == "coordinates"')
        .field
          label(for="latInput") Latitude
          input#latInput(
            type="text",
            ng-model="location.lat",
            autocomplete='off',
            ng-focus="latLngFocused()"
          )
        .field
          label.white(for="lngInput") Longitude
          input#lngInput(
            type="text",
            ng-model="location.lng",
            autocomplete='off',
            ng-focus="latLngFocused()"
          )

  .md-actions(layout='row')
    span(flex='')
    button.ui.button.primary(ng-click='answer(location)', ng-disabled='!location')
      | Ajouter emplacement
    button.ui.button(ng-click='answer()')
      | Annuler
