md-dialog.set-geoloc-modal
  md-toolbar
    .md-toolbar-tools
      h2 Emplacement
  md-dialog-content.p2
    p Pour définir l'emplacement de votre évenement vous pouvez déplacez marqueur (
      =' '
      i.icon.ion-location
      |   ) ou utiliser une autre méthode ci-dessous :
    .location-selectors-wrapper.mt2.mb2
      .tabs
        .tab(ng-click='geolocChoiceType="address"', ng-class="{'active': geolocChoiceType == 'address'}") Adresse
        .tab(ng-click='geolocChoiceType="coordinates"', ng-class="{'active': geolocChoiceType == 'coordinates'}") Coordonnées
      .location-selectors.p2
        .location-selector(ng-show='geolocChoiceType == "address"')
          label.white(for='address') Adresse
          .edit-address
            input#address.block.col-12.field(
              type='text',
              autocomplete='off',
              g-places-autocomplete,
              ng-model='placesObj',
              ng-change='placeObjToLocation(placesObj)'
            )
            //- button.validate.btn.btn-primary(ng-click='editAddress=false; placeObjToLocation(placesObj)')
              i.icon.ion-checkmark
          //- .address
            p.white(ng-bind-html='location.address.html', ng-show='editAddress == false || placesObj')
            button.validate.btn.btn-primary(ng-click='editAddress=false; placeObjToLocation(placesObj)')
              i.icon.ion-edit

          //- input#address.block.col-12.field(type="number", ng-model="address", )
        .location-selector(ng-show='geolocChoiceType == "coordinates"')
          label.white(for="latInput") Latitude
          input#latInput.block.col-12.field(
            type="text",
            ng-model="location.lat",
            autocomplete='off',
            ng-focus="latLngFocused()"
          )
          label.white(for="lngInput") Longitude
          input#lngInput.block.col-12.field(
            type="text",
            ng-model="location.lng",
            autocomplete='off',
            ng-focus="latLngFocused()"
          )

  .md-actions(layout='row')
    span(flex='')
    md-button.md-primary(ng-click='answer(location)', ng-disabled='!location')
      | Ajouter emplacement
    md-button.md-warn(ng-click='answer()')
      | Annuler
