.time-picker
  a(href='#', ng-click='vm.openDialog()', ng-transclude)
  .dialog.time-picker-dialog(ng-show='vm.showDialog')
    .time-wrapper
      .hours
        label Heure :
        .select
          select(
            name='hour',
            ng-options='hour for hour in vm.hours',
            ng-model='vm.timeHour'
          )

      .minutes
        label Minute :
        .select
          select(
            name='min',
            ng-options='minute for minute in vm.minutes',
            ng-model='vm.timeMinute'
          )

    .buttons
      button.ui.button(ng-click='vm.answer(true)') Annuler
      button.ui.button.primary(ng-click='vm.answer()') OK
