.time-picker(ng-init='showDialog = false')
  a(href='#', ng-click='showDialog = true', ng-transclude)
  .time-picker-dialog(ng-show='showDialog')
    .hours
      label Heure :
      select(
        name='hour',
        ng-options='hour for hour in vm.hours',
        ng-model='vm.timeHour'
      )
    .minutes
      label Minute :
      select(
        name='min',
        ng-options='minute for minute in vm.minutes',
        ng-model='vm.timeMinute'
      )
    button(ng-click='vm.answer()') OK
